.rooms-count {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  user-select: none;

  &__values  {
    margin-left: 10px;
    display: flex;
  }
  &__element {
    padding:0 15px;
    cursor: pointer;
  }

  &__input {
    display:none;
  }
  &__input:checked ~ &__value{
    color: orange;

  }
}
