@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import './blocks/hover-effect/hover-effect.scss';
$border-radius: 4px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: gray;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

.calc {
  padding: 20px;
  display: flex;
  flex-direction: column;
  &__heading {
    margin-bottom: 10px;
  }
  &__house-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &__controls {
    margin-top: 10px;
    display: flex;
    border: 1px solid gold;
    border-radius: $border-radius;
  }
  &__item {
    flex-grow: 1;
    display: flex;
    heigth: 100%;
    border-right: 1px solid gold;
    min-height: 50px;
    &:last-child {
      border-right: unset;
    }
    &:hover {
      background: #ccd1ef50;
      transition: 0.15s;
    }
  }
  &__button {
    margin-left: auto;
    margin-top: 20px;
    color: #000;
    font-weight: 500;
    padding: 20px 50px;
    background: #ccd1ef;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: 0.25s ease-out;
    user-select: none;
    border: none;
    outline: none;
  }
}

