mixin selectElements(props)
  - const { defaultName, list } = props;
  .select
    .select__value= defaultName
    ul.select__list
      each el in list
        - const { name, data } = el;
        li.select__item(data-name=data)= name
